{% extends 'base.html'%}
{% block content%}
<center class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            {%if on_sale %}
            <p class="card-text">$ {{product.sale_price}}</p>
            {% else %}
            <p class="card-text">$ {{product.price}}</p>
            {% endif %}
            </div>
        </div>
        </div>
    </div>
    <button class="btn btn-secondary" type = "button" value = "{{product.id}}" id = "add-cart">Add To Cart</button>
</center>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<script>
// now we would be writing some java script
$(document).on('click', '#add-cart', function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{% url 'cart_add' %}",
        data: { product_id: $('#add-cart').val(), csrfmiddlewaretok: '{{ csrf_token }}', action: 'post' },
        success: json => console.log(json),
        error: (xhr, ermsg, err) => {
            // Handle error if needed
        }
    });
});

</script>

{% endblock%}  
